.container{
    display: flex;
    height: calc(100vh);
    .nav-left{
        width: 20%;
        min-width: 180px;
    }
    .main{
        flex: 1;
        //height: calc(100%);
    }
    .content{
        position: relative;
        padding: 20px;
    }
}